microservice-commandes/target/
!microservice-commandes/.mvn/wrapper/maven-wrapper.jar
!microservice-commandes/**/src/main/**/target/
!microservice-commandes/**/src/test/**/target/

microservice-paiement/target/
!microservice-paiement/.mvn/wrapper/maven-wrapper.jar
!microservice-paiement/**/src/main/**/target/
!microservice-paiement/**/src/test/**/target/

microservice-produits/target/
microservice-produits/.mvn/wrapper/maven-wrapper.jar
!microservice-produits/**/src/main/**/target/
!microservice-produits/**/src/test/**/target/

clientui/target/
clientui/.mvn/wrapper/maven-wrapper.jar
!clientui/**/src/main/**/target/
!clientui/**/src/test/**/target/

config-server/target/
config-server/.mvn/wrapper/maven-wrapper.jar
!config-server/**/src/main/**/target/
!config-server/**/src/test/**/target/

### STS ###
.metadata

config-server-repo/.settings

microservice-commandes/.apt_generated
microservice-commandes/.classpath
microservice-commandes/.factorypath
microservice-commandes/.project
microservice-commandes/.settings
microservice-commandes/.springBeans
microservice-commandes/.sts4-cache


microservice-paiement/.apt_generated
microservice-paiement/.classpath
microservice-paiement/.factorypath
microservice-paiement/.project
microservice-paiement/.settings
microservice-paiement/.springBeans
microservice-paiement/.sts4-cache

microservice-produits/.apt_generated
microservice-produits/.classpath
microservice-produits/.factorypath
microservice-produits/.project
microservice-produits/.settings
microservice-produits/.springBeans
microservice-produits/.sts4-cache

clientui/.apt_generated
clientui/.classpath
clientui/.factorypath
clientui/.project
clientui/.settings
clientui/.springBeans
clientui/.sts4-cache

config-server/.apt_generated
config-server/.classpath
config-server/.factorypath
config-server/.project
config-server/.settings
config-server/.springBeans
config-server/.sts4-cache